.main-section4-block {
    margin-top: 350px;
}

.mobi-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 169%;
    letter-spacing: 0.105em;
    font-feature-settings: 'case'on;
    color: #FFFFFF;
    display: none;

}

@media only screen and (max-width:576px) {


    .mobi-text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 169%;
        letter-spacing: 0.105em;
        font-feature-settings: 'case'on;
        color: #FFFFFF;
        display: block;
        max-width: 258px;
        text-align: center;
        margin: 0 auto;
        padding-top: 50px;

    }

    .main-section4-block {
        margin-top: 40px;
        .left-text-block .left-text {

            font-style: normal;
            font-weight: 800;
            font-size: 45px;
            line-height: 108.5%;
            letter-spacing: 0.13em;
            text-transform: uppercase;
            color: #FFFFFF;
            transform: rotate(-90deg);
            position: fixed;
            left: -23%;
            margin-top: 39%;

        }
    }




}