.sidebar {
    width: 100px;
    height: 100vh;
    position: fixed;
    right: 0;
    background: #131313;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .sidebar-links {
        width: 9px;
        height: 9px;
        background: #fff;
        display: block;
        margin: 29px;
        border-radius: 50%;
        cursor: pointer;
        
    }
}