body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    max-width: 1140px;
}

.container1 {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    max-width: 1090px;
}





@media only  screen and (max-width:576px) {

    

    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
        box-sizing: border-box;
        max-width: 540px;
    }
    
    .container1 {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
        box-sizing: border-box;
        max-width: 540px;
    }
   
}